@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers,
  .experience-content,
  .projects-grid-container {
    flex-wrap: wrap;
  }

  #contact-section,
  #projects {
    height: fit-content;
  }
}

/* PROJECTS SECTION - TRANSITION */
@media screen and (min-width: 1353px) {
  .project-item {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }

  .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 1200px) {
  #main-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-section-container,
  .projects-content-wrapper {
    margin-top: 2rem;
  }

  #profile,
  .about-section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .about-section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .profile-picture {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers,
  .experience-content,
  .projects-grid-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact-section,
  footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .experience-content,
  .projects-grid-container,
  .contact-info-wrapper,
  .btn-profile,
  .project-action-buttons {
    flex-wrap: wrap;
  }

  .contact-item {
    margin: 0;
  }

  .contact-item p,
  .navbar-menu li a,
  .footer-nav-list li a {
    font-size: 1rem;
  }

  .experience-sub-title,
  .project-heading {
    font-size: 1.25rem;
  }

  .navbar-logo {
    font-size: 1.5rem;
  }

  .footer-nav-list,
  .navbar-menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .profile-picture {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .profile-role {
    font-size: 1.25rem;
  }

  .profile-name,
  .about-title,
  .experience-title,
  .projects-section-title,
  .contact-title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
}